/*
Error: File to import not found or unreadable: ../partials/variables.
       Load paths:
         /Users/Julien/Desktop/MALIN/sass
         /Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/bourbon/bourbon/app/assets/stylesheets
         Sass::Globbing::Importer
        on line 3 of /Users/Julien/Desktop/MALIN/sass/animated-headlines.scss

1: @import 'bourbon'; // http://bourbon.io/
2: 
3: @import '../partials/variables'; // colors, fonts etc...
4: 
5: @import '../partials/mixins'; // custom mixins
6: 
7: @import '../partials/layout'; // responsive grid and media queries
8: 

Backtrace:
/Users/Julien/Desktop/MALIN/sass/animated-headlines.scss:3
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:45:in `import'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `block in with_base'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `with_base'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:20:in `render'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:268:in `render'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:415:in `run'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ../partials/variables.\A        Load paths:\A          /Users/Julien/Desktop/MALIN/sass\A          /Users/Julien/Downloads/CodeKit.app/Contents/Resources/engines/bourbon/bourbon/app/assets/stylesheets\A          Sass::Globbing::Importer\A         on line 3 of /Users/Julien/Desktop/MALIN/sass/animated-headlines.scss\A \A 1: @import 'bourbon'; // https://bourbon.io/\A 2: \A 3: @import '../partials/variables'; // colors, fonts etc...\A 4: \A 5: @import '../partials/mixins'; // custom mixins\A 6: \A 7: @import '../partials/layout'; // responsive grid and media queries\A 8: "; }
