@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
$link: #808080;
$link-hover: hsl(0, 0%, 85%);
$navbar-item-color: #808080;

$body-background-color: "transparent"; // 1e1e1e
$family-sans-serif: "Roboto Mono", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$navbar-background-color: "transparent";

@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~buefy/src/scss/buefy";

.is-absolute {
    position: absolute;
}

.has-z-index-1 {
    z-index: 1;
}

.hero-thingy {
    padding: 14rem 6rem;
  }

